{% extends "base.html" %}

{% block content %}
    <div>
        <h1 class="display-6">Welcome to my newspaper</h1>
        <p class="lead">The site is in beta version and will be improved soon</p>
    </div>

    <div>
        <div>
            <div>
                <h2>Statistics</h2>
                <ul>
                    <li><strong>Newspapers:</strong> {{ num_newspapers }}</li>
                    <li><strong>Redactors:</strong> {{ num_redactors }}</li>
                    <li><strong>Topics:</strong> {{ num_topics }}</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
